@import "../../styles";

.assistant {
  position: fixed;
  bottom: 34px;
  right: 175px;
  cursor: pointer;

  .dialog-box {
    position: absolute;
    width: 421px;
    height: 495px;
    border-radius: 21px;
    background: $white;
    padding: 20px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    background: linear-gradient(337deg, rgba(20, 116, 70, 0.60) 0%, rgba(8, 8, 8, 0.00) 64.88%), radial-gradient(100% 100% at 75.89% 100%, rgba(0, 133, 255, 0.24) 0%, rgba(0, 71, 255, 0.03) 100%), linear-gradient(180deg, rgba(8, 8, 8, 0.00) 50%, rgba(7, 71, 33, 0.30) 100%), linear-gradient(270deg, #061621 0%, rgba(8, 8, 8, 0.00) 100%), #3B3F4A;
    top: -535px;
    color: $white;
    left: 0;
    transform: translateX(-50%);

    .greeting {
      font-family: 'SF Pro Text', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      margin-bottom: 20px;
      color: $white;
      letter-spacing: 2px;
      margin-left: 15%;
    }

    .message-container {
      margin-bottom: 20px;
      max-height: 400px;
      height: 400px;
      overflow-y: auto;

      .message {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 8px;
        max-width: 80%;
        word-wrap: break-word;

        &.system {
          background-color: $primaryBtn;
          color: $white;
          font-family: 'SF Pro Text', sans-serif;
          font-size: 16px;
          align-self: flex-start;
          margin-left: 0;
          margin-right: 20px;
        }

        &.user {
          background-color: $lightGray;
          color: $primaryText;
          font-family: 'SF Pro Text', sans-serif;
          font-size: 16px;
          align-self: flex-start;
          margin-left: 15%;
          margin-right: 20px;
        }
      }
    }

    .spacer {
      flex-grow: 1;
    }

    .inputs {
      display: flex;
      align-items: center;
      margin-top: 1%;

      .search-bar {
        background: none;
        border-radius: 28px;
        width: calc(100% - 30px);
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        transition: background 0.3s ease, color 0.3s ease;
        color: $white;
        font-family: 'SB Sans Text', sans-serif;
        font-size: 20px;
        line-height: 25.08px;
        font-weight: 400;
        outline: none;
        border: 0;

        &:focus {
          background: #d9d9d9 !important;
          color: $primaryText;
        }
      }

      .send-icon {
        padding: 10px;
        height: 24px;
        width: 24px;
        margin-left: 10px;
        cursor: pointer;
        transition: box-shadow, background-color 0.3s ease;
        color: white;
        &:hover {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          background-color: rgba(255, 255, 255, 0.5) !important;
        }
      }
    }
  }
}

// .test {
//   background-color: #3B3F4A;
//   position: absolute;
//   width: 421px;
//   height: 495px;
//   border-radius: 21px;
//   padding: 20px;
//   box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
//   top: -535px;
//   color: $white;
//   left: 0;
//   transform: translateX(-50%);
// }