@import "../../styles";

.taskCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 400;

}

.taskGrid {
    display: grid;
    grid-template-columns: 400px 100px 100px 100px; /* Пример фиксированных ширин для каждой колонки */
    grid-gap: 300px; /* Можете настроить размер зазора между колонками */
}

.taskName {
    max-width: 500px;
flex: 0;
}

.taskTime {margin: 0 10px;}

.taskStatus {
    padding: 5px 10px;
    border-radius: 20px;
    width: 100px;
}

.statusCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 50px;
}