@import "../../styles";

.taskList {
    background: transparent !important;
    width: 90%;
    margin-left: 9%;
    height: 100%;
}

.greeting {
    // float: left;
    margin-right: 95%;
    width: 300px;
    font-size: 24px;
    margin-left: 2%;
}